<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jojo.crazy.diamond.mapper.TagMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jojo.crazy.diamond.entity.Tag">
        <id column="id" property="id" />
        <result column="audit_state" property="auditState" />
        <result column="group_name" property="groupName" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="ref_count" property="refCount" />
        <result column="creator_id" property="creatorId" />
        <result column="is_delete" property="isDelete" />
        <result column="create_at" property="createAt" />
        <result column="update_at" property="updateAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, audit_state, group_name, `name`, description, ref_count, creator_id, is_delete, create_at, update_at
    </sql>

</mapper>
